<div class="row">
    <div class="col-md-10">
        <div class="title"><span>Sepettekiler</span></div>
        <div class="table-responsive">
            <table class="table table-bordered table-cart">
                <thead>
                    <tr>
                        <th>Ürün</th>
                        <th>Açıklama</th>
                        <th>Adet</th>
                        <th>Birim Fiyatı</th>
                        <th>Ara Toplam</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="img-cart">
                            <a href='@Url.Action("Detail","Test")'><img alt="ürün" src="~/Content/images/p1-small (1).jpg" class="img-thumbnail" /></a>
                        </td>
                        <td><p><a href='@Url.Action("Detail","Test")'>Organik incir</a><br /><small>5 kg</small></p></td>
                        <td>
                            <div class="input-qty">
                                <div class="input-group bootstrap-touchspin">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default bootstrap-touchspin-down" type="button">-</button>
                                    </span>
                                    <span class="input-group-addon bootstrap-touchspin-prefix" style="display:none"></span>
                                    <input type="text" value="1" class="form-control text-center" style="display:block" />
                                    <span class="input-group-addon bootstrap-touchspin-postfix" style="display:none"></span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default bootstrap-touchspin-up" type="button">+</button>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="unit">25 tl</td>
                        <td class="sub">125 tl</td>
                        <td class="action">
                            <a href="#" class="remove_cart" rel="2" data-placement="top" data-toggle="tooltip" data-original-title="Güncelle"><i class="fa fa-refresh"></i></a>
                            <a href="#" class="remove_cart" rel="2" data-placement="top" data-toggle="tooltip" data-original-title="Sil"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="img-cart">
                            <a href='@Url.Action("Detail","Test")'><img alt="ürün" src="~/Content/images/p2-small (1).jpg" class="img-thumbnail" /></a>
                        </td>
                        <td><p><a href='@Url.Action("Detail","Test")'>Organik zeytinyağı</a><br /><small>5 kg</small></p></td>
                        <td>
                            <div class="input-qty">
                                <div class="input-group bootstrap-touchspin">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default bootstrap-touchspin-down" type="button">-</button>
                                    </span>
                                    <span class="input-group-addon bootstrap-touchspin-prefix" style="display:none"></span>
                                    <input type="text" value="1" class="form-control text-center" style="display:block" />
                                    <span class="input-group-addon bootstrap-touchspin-postfix" style="display:none"></span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default bootstrap-touchspin-up" type="button">+</button>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="unit">25 tl</td>
                        <td class="sub">125 tl</td>
                        <td class="action">
                            <a href="#" class="remove_cart" rel="2" data-placement="top" data-toggle="tooltip" data-original-title="Güncelle"><i class="fa fa-refresh"></i></a>
                            <a href="#" class="remove_cart" rel="2" data-placement="top" data-toggle="tooltip" data-original-title="Sil"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="img-cart">
                            <a href='@Url.Action("Detail","Test")'><img alt="ürün" src="~/Content/images/p3-small (1).jpg" class="img-thumbnail" /></a>
                        </td>
                        <td><p><a href='@Url.Action("Detail","Test")'>Antep Fıstığı</a><br /><small>5 kg</small></p></td>
                        <td>
                            <div class="input-qty">
                                <div class="input-group bootstrap-touchspin">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default bootstrap-touchspin-down" type="button">-</button>
                                    </span>
                                    <span class="input-group-addon bootstrap-touchspin-prefix" style="display:none"></span>
                                    <input type="text" value="1" class="form-control text-center" style="display:block" />
                                    <span class="input-group-addon bootstrap-touchspin-postfix" style="display:none"></span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default bootstrap-touchspin-up" type="button">+</button>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="unit">25 tl</td>
                        <td class="sub">125 tl</td>
                        <td class="action">
                            <a href="#" class="remove_cart" rel="2" data-placement="top" data-toggle="tooltip" data-original-title="Güncelle"><i class="fa fa-refresh"></i></a>
                            <a href="#" class="remove_cart" rel="2" data-placement="top" data-toggle="tooltip" data-original-title="Sil"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    <tr>
                    <td colspan="4" align="right">Toplam</td>
                        <td colspan="2"><b>375 tl</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-info btn-sm pull-left"><i class="fa fa-arrow-circle-left"></i> Alışverişe Devam Et</button>
        <button type="button" class="btn btn-info btn-sm pull-right">Alışverişi Tamamla <i class="fa fa-arrow-circle-right"></i></button>
    </div>
    <div class="col-md-2 hidden-sm hidden-xs">
        <div class="title">
            <span>Yeniler</span>
        </div>
        <div class="slider widget-slider">
            <div id="sideCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="box-product">
                            <div class="img-wrapper">
                                <a href='@Url.Action("Detail","Test")'><img src="~/Content/images/p3 (1).jpg" alt="Chania" class="img-responsive"></a>
                                <div class="tags tags-left">
                                    <div class="label-tags">
                                        <span class="label label-success">Yeni</span>
                                    </div>
                                </div>
                                <div class="option">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" data-original-title="Sepete At">
                                        <span class="glyphicon glyphicon-shopping-cart"></span>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" data-original-title="Favorim">
                                        <span class="glyphicon glyphicon-heart"></span>
                                    </a>
                                </div>
                            </div>
                            <h6>
                                <a href='@Url.Action("Detail","Test")'>Çok güzel organik falan filan</a>
                            </h6>
                            <div class="price">
                                <div>34.00 tl</div>
                            </div>
                            <div class="rating">
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <a href='@Url.Action("Detail","Test")'>(20 kez incelendi)</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-product">
                            <div class="img-wrapper">
                                <a href='@Url.Action("Detail","Test")'><img src="~/Content/images/p1 (1).jpg" alt="Chania" class="img-responsive"></a>
                                <div class="tags tags-left">
                                    <div class="label-tags">
                                        <span class="label label-success">Yeni</span>
                                    </div>
                                </div>
                                <div class="option">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" data-original-title="Sepete At">
                                        <span class="glyphicon glyphicon-shopping-cart"></span>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" data-original-title="Favorim">
                                        <span class="glyphicon glyphicon-heart"></span>
                                    </a>
                                </div>
                            </div>
                            <h6>
                                <a href='@Url.Action("Detail","Test")'>Çok güzel organik falan filan</a>
                            </h6>
                            <div class="price">
                                <div>34.00 tl</div>
                            </div>
                            <div class="rating">
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <a href='@Url.Action("Detail","Test")'>(20 kez incelendi)</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-product">
                            <div class="img-wrapper">
                                <a href='@Url.Action("Detail","Test")'><img src="~/Content/images/p2 (1).jpg" alt="Chania" class="img-responsive"></a>
                                <div class="tags tags-left">
                                    <div class="label-tags">
                                        <span class="label label-success">Yeni</span>
                                    </div>
                                </div>
                                <div class="option">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" data-original-title="Sepete At">
                                        <span class="glyphicon glyphicon-shopping-cart"></span>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" data-original-title="Favorim">
                                        <span class="glyphicon glyphicon-heart"></span>
                                    </a>
                                </div>
                            </div>
                            <h6>
                                <a href='@Url.Action("Detail","Test")'>Çok güzel organik falan filan</a>
                            </h6>
                            <div class="price">
                                <div>34.00 tl</div>
                            </div>
                            <div class="rating">
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <a href='@Url.Action("Detail","Test")'>(20 kez incelendi)</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left side-carousel-control" href="#sideCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="right side-carousel-control" href="#sideCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>